<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <style>
      a {
         display: block;
         margin-bottom: 15px;
         font-size: 20px;
      }
      .line {
         color: green;
      }
      .fb {
         color: blue;
      }
      .google {
         color: red;
      }
   </style>
</head>
<body>
   <h1>social login</h1>
   <a href="${lineLoingUrl}" class="line">Line Login</a>
   <a href="${fbLoginUrl}" class="fb">FB login</a>
   <a href="${googleLoginUrl}" class="google">Google login</a>
</body>
</html>